body {
    background-color: green;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3rem;
    margin: 100px;
}

p {
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
