body {
    background-color: grey;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    margin: 30px;
}

button {
    width: 280px;
    height: 220px;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 1.5rem;
    margin: 2em;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.2);
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 150ms;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    margin: 20px;
}
